{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Virtual Ecto-Containment Unit</title>
</head>

<body>
    <main class="main">
        <header class="header home">
            <div class="container">
                <div class="logo-wrapper">
                    <img src="{{ url_for('static', filename='GB Logo.png') }}" style="max-width: 20%;"
                        alt="Ghost busters logo">
                    <h1>Virtual Ecto-Containment Unit</h1>
                </div>
            </div>
            </div>
        </header>
        <section class="ghost-list" style="background-color: rgba(0, 0, 0, 0.550);">
            <div class="container">
                <div class="detail-list" style="text-align: center;">
                    <h1>{{ ghost.ghost_name }}</h1>
                    <h2>Ghost ID: {{ ghost.id }}</h2>
                    <p><img src="{{ ghost.picture_url }}" alt="{{ ghost.ghost_name }}" width="200" height="200"></p>
                    <h2>Description: {{ ghost.description }}</h2>
                    <h3>Power Level: {{ ghost.power_level }}</h3>
                    <h3>Ghost Status: {{ ghost.status }}</h3>
                    <h3>Ghost Abilities: {{ ghost.special_abilities }}</h3>
                    <li><a class="nav-link" href="{{ url_for('api.get_ghost_by_id', id=ghost.id) }}">API Endpoint</a></li>
                </div>
            </div>
        </section>
        <section class="footer">
            <p>Created by Schadre Dent <br>
                Ghostbusters Logo and Ghostbusters character names are trademarks of Sony Pictures.</p>
        </section>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>

</html>
{% endblock %}