<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Virtual Ecto-Containment Unit</title>
</head>

<body>
    <main class="main">
        <header class="header home">
            <div class="container">
                <div class="logo-wrapper">
                    <img src="{{ url_for('static', filename='GB Logo.png') }}" style="max-width: 20%;"
                        alt="Ghost busters logo">
                    <h1>Virtual Ecto-Containment Unit</h1>
                </div>
                <form action="{{ url_for('api.search_ghosts') }}" method="GET" class="search-wrapper">
                    <div class="search-wrap">
                        <input type="text" name="query" class="search-input body3-fonts"
                            placeholder="Search by Name or ID" value="{{ query or '' }}" />
                    </div>
                    <button type="submit" class="btn btn-danger">Search</button>
                    <div class="filter-wrap">
                        <input type="radio" id="number" name="filter" value="number" {% if
                            request.args.get('filter')=='number' %}checked{% endif %}>
                        <label for="number" class="body3-fonts">ID Number</label>
                        <input type="radio" id="name" name="filter" value="name" {% if
                            request.args.get('filter')=='name' %}checked{% endif %}>
                        <label for="name" class="body3-fonts">Name</label>
                    </div>
            </div>
            </div>

        </header>
        <section class="ghost-list">
            <div class="container">
                <div class="list-wrapper">
                    {% if ghosts %}
                    {% for ghost in ghosts %}
                    <div class="list-item">
                        <div class="number-wrap">
                            #{{ ghost.id }}
                        </div>
                        <div class="img-wrap">
                            <img src="{{ ghost.picture_url }}" alt="{{ ghost.ghost_name }}">
                        </div>
                        <div class="name-wrap">
                            <p class="caption-fonts">{{ ghost.ghost_name }}</p>
                            <p class="body2-fonts">{{ ghost.description }}</p>
                            <p class="body2-fonts">Power Level: {{ ghost.power_level }}</p>
                            <p class="body2-fonts">Status: {{ ghost.status }}</p>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div id="not-found-message" class="text-center">Ghost not found</div>
                    {% endif %}
                </div>
            </div>
        </section>
        <section class="footer">
            <p>Created by Schadre Dent <br>
                Ghostbusters Logo and Ghostbusters character names are trademarks of Sony Pictures.</p>
        </section>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>

</html>